.profile-card {
  width: 300px; /* Define a fixed width for the card */
  max-width: 100%; /* Ensure responsiveness */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  overflow: hidden; /* Prevent content from spilling out */
  text-align: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.user-icon {
  margin-bottom: 10px;
  color: #666;
}

.username {
  font-size: 1.2rem;
  font-weight: bold;
  
}

.order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
}

.order-info h3 {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.notification-icon {
  color: #666;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .profile-card {
    width: 90%; /* Make the card responsive on smaller screens */
  }
}
